<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title> <%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="/stylesheets/site.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>

		<% include templates/header %>

				<div class="span9">
					<h1>
						Projects
					</h1>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Client</th>
								<th>Tasks</th>
								<th>Messages</th>
								<th>Files</th>
								<th>Progress</th>
							</tr>
						</thead>

						<tbody>

								<% for (var i=0; i<project.length; i++){ %>
									<tr>
										<td> <%= project[i].Name %> </td>
										<td> <%= project[i].Client %> </td>
										<td><span class="badge"> <%= project[i].Tasks %> </span></td>
										<td><span class="badge"> <%= project[i].Messages %> </span></td>
										<td><span class="badge"> <%= project[i].Files %> </span></td>
										<td>
											<div class="progress">
												<div class="bar" style="width: 50%"></div>
											</div>
										</td>
										<td> <button class="delete">Delete</button> </td>
										<td style="display:none"><span class="projectid" > <%= project[i]._id %></span></td>
									<tr>
								<% } %>

						</tbody>
					</table>
					<a class="toggle-link" href="#new-project"><i class="icon-plus"></i> New Project</a>
					<form action="/projects" id="new-project"  method="POST" class="form-horizontal hidden">
						<fieldset>
							<legend>New Project</legend>
							<div class="control-group">
								<label class="control-label" for="input01">Project Name</label>
								<div class="controls">
									<input type="text" name="projectName" class="input-xlarge" id="input01" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="select01">Client</label>
								<div class="controls">
									<input type="text" name="clientName" class="input-xlarge" id="input02" />
								</div>
							</div>

							<div class="form-actions">
								<button type="submit" id="create-form" class="btn btn-primary">Create</button> <button class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>
				</div>
			<div class="db" style="border: 1px solid black; height: 200px; clear: both">
				<ul class="dbusers">

				</ul>
			</div>
			</div>
		</div>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/site.js"></script>
		<script src="/javascripts/main.js"></script>
	</body>
</html>
