<% include templates/main.ejs%>
<% include templates/header %>
<% include templates/sidenav %>

		<div>
			 <div layout="row" flex-offset-gt-md="25" flex-offset-gt-lg="20" flex-gt-md="80" style="margin-top:70px"
			 layout-wrap layout-align="center center">

					<h2 style="display:none;" id="uid"> <%= JSON.stringify(percentege) %> </h2>
					<h2 style="display:none;" id="uid1"> <%= JSON.stringify(project) %> </h2>

			  <% for (var i=0; i<project.length; i++){ %>

						<div flex-gt-sm="45" flex="95" style="min-height: 300px;" flex  class="md-whiteframe-12dp projectsDiv">
							<a id="<%= project[i]._id %>"  href="tasks/<%= project[i]._id%>" />
								<h1 style="padding:20px"> <%= project[i].Name %> </h1>
							</a>

							<div class="widget">
								<div class="chart chart-container <%=project[i].Name%>">
								</div>
							</div>
						</div>

			 <% } %>

				<div ng-controller="showForm" flex-gt-sm="45" flex="95" style="min-height: 300px" flex  class="md-whiteframe-12dp projectsDiv">
					<div flex layout="column" layout-align="center center" style="min-height: 300px; " ng-hide="form">
						<a ng-click="showForm()" href=""><i class="icon-plus"></i> New Project</a>
					</div>

					<form action="/projects" id="new-project"  method="POST" class="form-horizontal hidden" ng-show="form" >
						<fieldset>
							<legend>New Project</legend>
							<div class="control-group">
								<label class="control-label" for="input01">Project Name</label>
								<div class="controls">
									<input type="text" name="projectName" class="input-xlarge" id="input01" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="select01">Client</label>
								<div class="controls">
									<input type="text" name="clientName" class="input-xlarge" id="input02" />
								</div>
							</div>

							<div class="form-actions">
								<button type="submit" id="create-form" class="btn btn-primary">Create</button> <button class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>


<% include templates/main1.ejs %>