<% include templates/main.ejs%>
<% include templates/header %>


				<div class="" style="margin-top: 60px; margin-left:50px; padding-top: 10px;">
					<h1>
						Tasks
					</h1>


					<div>
						<div id="multi" style="margin-left: 30px">
							<div><div data-force="5" class="layer title title_xl">Multi</div></div>

							<!--NOT STARTED-->
							<div class="layer tile" data-force="30">
								<div class="tile__name">Not Started</div>
								<div class="tile__list">
									<% for (var i=0; i<task.length; i++){  %>
										<% if(task[i].Status == 'NotStarted'){ console.log(task[i])%>
												<div>
													<a href="/task/<%= task[i]._id %>" ><span class="<%= task[i]._id %>"> <%= task[i].Summary %> </span></a>
												</div>
										<% } %>
									<% } %>
								</div>
							</div>
							<!--IN PROGRESS-->
							<div class="layer tile" data-force="25">
								<div class="tile__name">In Progress</div>
								<div class="tile__list">
									<% for (var i=0; i<task.length; i++){  %>
										<% if(task[i].Status == 'InProgress'){ console.log(task[i]) %>
												<div>
													<a href="/task/<%= task[i]._id %>" ><span class="<%= task[i]._id %>"> <%= task[i].Summary %> </span></a>
												</div>
										<% } %>
									<% } %>
								</div>
							</div>
							<!-- COMPLETED -->
							<div class="layer tile" data-force="20">
								<div class="tile__name">Completed</div>
								<div class="tile__list">
									<% for (var i=0; i<task.length; i++){  %>
										<% if(task[i].Status == 'Completed'){ console.log(task[i]) %>
												<div>
													<a href="/task/<%= task[i]._id %>" ><span class="<%= task[i]._id %>"> <%= task[i].Summary %> </span></a>
												</div>
										<% } %>
									<% } %>
								</div>
							</div>

						</div>
					</div>


					<a class="toggle-link" href="#new-task" style="position:relative;top:200px;"><i class="icon-plus"></i> New Task</a>
					<form action="/tasks" method="POST" id="new-task" class="form-horizontal hidden" style="margin-top:200px;">
						<fieldset>
							<legend>New Task</legend>
							<div class="control-group">
								<label class="control-label" for="textarea">Task Details</label>
								<div class="controls">
									<input name="taskName" class="input-xlarge" id="textarea" rows="2"></input>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Create</button> <button class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>

				</div>
			</div>
		</div>


<% include templates/main1.ejs %>